@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #1a1a1a;
  color: #ffffff;
}

section + section {
  margin-top: 1.5rem; /* around 24px */
  padding-top: 1rem;  /* around 16px */
}
