@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #1a1a1a;
  color: #ffffff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #1a1a1a;
  color: #ffffff;
}

section + section {
  margin-top: 0;
  padding-top: 0;
}
